.App {
  margin: 20px;
}

.ships-container {
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.ship-container {
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  margin: 10px auto;
  min-height: 200px;
  min-width: 200px;
}

.Ship-title {
  font-weight: bolder;
  font-size: 30px;
}

